* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100dvh;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;



    background-image: url("bild1.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
    background-repeat: no-repeat;      /* upprepar inte */
}
