html {
  scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Serif, Garamond;

    height: 100dvh;
    background-color: #f4f4f4;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    opacity: 0.9;



    background-image: url("bild1.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
    background-repeat: repeat;      /* upprepar */
    animation: slideIn 1s ease forwards; /* line 36-45 slide in animation: */
}
    
a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
  animation: slideIn 1s ease forwards;
  display: flex;
  justify-content: center;
  text-align: center;   
}

p.paragraphs {
  display: flex;
  justify-content: center;
  text-align: center;
}

h2.headings {
  animation: slideIn 1s ease forwards;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}


div.one {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}



div.two {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}


div.three {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.four {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.five {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}
div.six {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.seven {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.eight {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.nine {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}

div.ten {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  animation-delay: -2s;
  background-image: url("d.jpg"); /* byt till ditt filnamn */
    background-size: cover;            /* täcker hela skärmen */
    background-position: center;       /* centrerar bilden */
  animation: slideIn 1s ease forwards;
  
}
